# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.log

# Environments
.env
.venv
venv/
ENV/
env.bak
env.destination

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
